body {
    padding: 10px;
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
    color: var(--vscode-foreground);
}

input, button {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    height: 100px; /* Increased height */
    resize: vertical;
}

button {
    cursor: pointer;
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: none;
    padding: 5px 10px;
}

button:hover {
    background-color: var(--vscode-button-hoverBackground);
}

#responsesContainer {
    margin-top: 20px;
}

.response-container {
    margin-bottom: 20px;
    border-top: 1px solid var(--vscode-panel-border);
    padding-top: 10px;
}

.response-container h3 {
    margin-bottom: 10px;
}

.response-container pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: var(--vscode-editor-background);
    padding: 10px;
    border-radius: 5px;
    font-family: var(--vscode-editor-font-family);
    font-size: var(--vscode-editor-font-size);
}

#configInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 0.9em;
    color: var(--vscode-descriptionForeground);
}

.selected-file {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.remove-file {
    width: auto;
    margin-right: 5px;
    padding: 0 5px;
    background-color: transparent;
    color: var(--vscode-errorForeground);
    font-size: 1.2em;
    line-height: 1;
}

.remove-file:hover {
    background-color: var(--vscode-errorForeground);
    color: var(--vscode-button-foreground);
}